<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tico.empresalivingtech">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.EmpresaActivity" />
        <activity android:name=".view.ServicoActivity" />
        <activity android:name=".view.ClienteActivity" />
        <activity android:name=".view.ContatoActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.CadastroActivity" />
        <activity android:name=".view.FirebaseActivity"></activity>
    </application>

</manifest>